<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/playlist.css">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:8080/search">
        <input type="text" id="songTitle" name="songTitle" value="" placeholder="Enter Song Title">
    </form>
    <ul>
        <!-- {{ range .SongJSONSlice }}
            <iframe width="200" height="200" src="https://www.youtube.com/embed/{{ .VideoID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ end }} -->
    </ul>
    <script src="/static/playlist.js"></script>
</body>
</html>